@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fafafa;
}

ion-icon {
    cursor: pointer;
}

.container {
    width: 935px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    background-color: purple;
}

.navContainer {
    width: 100%;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    border-bottom: 1px solid #eaeaea;
}

.navContentWeb {
    width: 935px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContentMobile {
    display: none;
}

.logoContent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoContent ion-icon {
    font-size: 22px;
}

.separador {
    width: 1px;
    height: 22px;
    background-color: #dbdbdb;
    margin: 0 10px;
}

.logo {
    height: 29px;
    margin: 0 10px;
}

.navContainer input {
    background: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    width: 215px;
    height: 28px;
    text-align: center;
}

.botoes-nav {
    font-size: 20px;
    margin: 0 5px;
}

.navMobile {
    display: none;
}

@media (max-width: 614px) {
    .navMobile {
        display: flex;
        padding: 0 10px;
    }
    .navContentMobile {
        width: 614px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navContentWeb {
        display: none;
    }
    .navMobile ion-icon {
        font-size: 22px;
    }
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: auto;
        background-color: purple;
    }
}